/*!
* Callout scss to css to include style from getbootstrap.com
*/
.callout{
    border: 1px solid gray;
    border-left: 2px;
    border-radius: 2px;
    padding:15px;
}
.callout-small{
    padding:8px;
}
.callout-large{
    padding: 25px;
}
.callout-danger{
    border-left-color:#dc3545;
    h4{
        color: darken(#dc3545, 20%);
    }
}
.callout-warning{
    border-left-color: #ffc107;
    h4{
        color: darken(#ffc107, 20%);
    }
}
.callout-primary{
    border-left-color: #007bff;
    h4{
        color: darken(#007bff, 20%);
    }
}
.callout-success{
    border-left-color: #28a745;
    h4{
        color: darken(#28a745, 20%);
    }
}
.callout-info{
    border-left-color: #17a2b8;
    h4{
        color: darken(#17a2b8, 20%);
    }
}
.callout-secondary{
    border-left-color: #6c757d;
    h4{
        color: darken(#6c757d, 20%);
    }
}