/*!
* Callout scss to css to include style from getbootstrap.com
*/
.callout{
    border: 1px solid gray;
    border-left: 2px;
    border-radius: 2px;
    padding:15px;
}
.callout-small{
    padding:8px;
}
.callout-large{
    padding: 25px;
}
.callout-danger{
    border-left-color:#{$jf_danger};
    h4{
        color: darken($jf_danger, 20%);
    }
}
.callout-warning{
    border-left-color: #{$jf_warning};
    h4{
        color: darken($jf_warning, 20%);
    }
}
.callout-primary{
    border-left-color: #{$jf_primary};
    h4{
        color: darken($jf_primary, 20%);
    }
}
.callout-success{
    border-left-color: #{$jf_success};
    h4{
        color: darken($jf_success, 20%);
    }
}
.callout-info{
    border-left-color: #{$jf_info};
    h4{
        color: darken($jf_info, 20%);
    }
}
.callout-secondary{
    border-left-color: #{$jf_secondary};
    h4{
        color: darken($jf_secondary, 20%);
    }
}